.dogContenedor {
  background-color: green;
  width: 280px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.dogContenedor:hover {
  transform: scale(1.05);
}

.dogImage {
  width: 230px;
  height: 200px;
  border-radius: 20px;
}

.name {
  font-size: 17px;
}

p {
  margin: 4px;
  text-decoration-line: none;
}

.temperamentList {
  background-color: lightblue;
  width: 220px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 20px;
}

.tempFont {
  font-size: 9px;
  margin: 5px;
  text-decoration-line: none;
  inline-size: 45px;
}
