.renderDogs {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.dogsContenedor {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.dogRows {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.renderError {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.btnError {
  font-size: 30px;
}
