.homePageContent {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/Fondo\ II.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
