.paginationNav {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  left: 50%;
  right: 50%;
}

.bntPageSelected {
  background-color: blue;
}
