.paginationNav {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 12px;
  left: 50%;
  right: 50%;
}

.btnStandar {
  font-size: 20px;
  color: white;
  border-radius: 15px;
  border: none;
  background-color: black;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

.bntPageSelected {
  font-size: 20px;
  color: black;
  border-radius: 15px;
  border: solid black 1px;
  background-color: white;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}
